* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Acme', sans-serif;
}

body {
    background-color: #262626;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "h"
                        "m";
}

header {
    grid-area: h;
    display: flex;
    align-items: center;
}

main {
    grid-area: m;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    padding: 10px;
}

.container-form {
    background-color: white;
    width: 45%;
    height: 85vh;
    padding: 20px;
}

.container-dados {
    background-color: #FCF4A6;
    height: 100%;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

label {
    font-size: 24px;
    width: 400px;
    text-align: center;
}

li {
    display: inline-block;
    margin-left: 25px;
    color: white;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: white;
}

li a:hover {
    border-bottom: solid 1px white;
}

.container-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo {
    font-size: 48px;
    color: white;
    border-top: solid 2px rgba(0,0,0,80%);
    border-bottom: solid 2px rgba(0,0,0,80%);
}

.subtitulo {
    font-size: 20px;
    color: white;
    margin-top: 5px;
}

.container-texto {
    display: flex;
    justify-content: center;
    background-color: #464646;
    margin-top: 10px;
}

.texto {
    color: white;
    margin: 50px;
    width: 50%;
}

.titulo-texto {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.content {
    font-size: 22px;
}

.picImg {
    width: 50%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picImg img {
    width: 75%;
    border-radius: 0px 15px 0px 15px;
}

.inverte {
    background-color: #262626;
    text-align: right;
}

.corrige {
    text-align:justify
}